@use 'variables' as v;
@use 'mixins' as m;


html {
  font-size: 62.5%;
  box-sizing: border-box;
} *, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body{
  font-family: v.$fuentePrincipal;
  background-color: #272822;
  color: v.$blanco;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

h1{
  font-size: 2.2rem;
  text-align: center;

  @include m.celular {
    font-size: 2.8rem;
  }
}

p, strong{
  font-size: 1.6rem;
}

a{
  font-size: 1.8rem;
  text-decoration: none;
}
