// Tipografia
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@400;700&display=swap');
$fuentePrincipal: 'Radio Canada', sans-serif;

// Colores
$blanco: #ffffff;
$rojoOscuro: #845050;
$rojoError: #9b2c2c;
$backgroundError: #f4cdc1;

// Tamaños Media Queries
$celular: 480px;
$tablet: 768px;
$desktop: 980px;


// Otros

$radius: 1rem;
$bold: 700;